body{
    background-color: rgb(5, 21, 52);
}
.navbar{
    background-color: rgb(5, 21, 52);
    color: aqua;
    padding:20px 30px 0px;
}

.heading{
    font-size:x-large;
    font-weight:700;
    font-family:'Times New Roman', serif;
}

.tables{
    padding-top: 50px;
}

.myhead{
    font-size: x-large;
    font-weight: bolder;
}

#myTable{
    font-size:x-large;
    font-weight:700;
    justify-content: center;
    align-items: center;
}

.header-telegram-button{
    /* margin: 10px;
    padding: 6px 20px; */
    border-radius: 10px;
    background-color: #3dc6c1;
    color: #fff!important;
}

.d-inline-block {
    display: inline-block!important;
}
.telegram-logo {
    height: 30px;
    margin-right: 0px;
}
img{
    vertical-align: middle;
}
img {
    border-style: none;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.text-nowrap {
    white-space: nowrap!important;
}

